{% extends "layout.html" %}
{% load static %}
{% block title %}校园健康生活平台{% endblock %}



{% block body %}
<div class="container-fluid">
  <div class="container" style="margin-top: 40px">
    <h1 style="color: #00477e; font-size: 36px; margin-bottom: 30px; margin-top: 40px;">爱护生命，关注健康</h1>

    <div class="row">
      <div class="col-md-9 page-content">
        <div id="news-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#news-carousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#news-carousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#news-carousel"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
          </div>
          <div class="carousel-inner">
            {% for item in data %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <a href="{{ item.link }}">
                <img src="{{ item.img }}" class="d-block w-100" alt="{{ item.title }}" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ item.title }}</h5>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev d-none d-md-block border-0" type="button" data-bs-target="#news-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next d-none d-md-block border-0" type="button" data-bs-target="#news-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
      </div>
      <div class="col-md-3">
        {% for item in data %}
        <div class="card mb-3">
          <img src="{{ item.img }}" class="card-img-top" alt="{{ item.title }}" />
          <div class="card-body">
            <p class="card-text">{{ item.title }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
